opencv-python-headless==4.2.0.32
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
docutils==0.18
et-xmlfile==1.1.0
Flask==2.0.2
gunicorn==20.1.0
heroku==0.1.4
idna==3.3
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.3
Kivy==2.0.0
Kivy-Garden==0.1.4
MarkupSafe==2.0.1
openpyxl==3.0.7
Pygments==2.10.0
python-dateutil==1.5
requests==2.26.0
urllib3==1.26.7
webcolors==1.11.1
Werkzeug==2.0.2
