<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        Welcome
    </title>
    <link rel = "stylesheet" href ="{{ url_for('static', filename= 'css/main.css')}}">
</head>
<body>
    <div class="bgimg">
        <div class="middle">
        <h1 class='welcome'>WELCOME</h1>
        <hr>
        <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large; color: mediumslateblue;">Projects:</h2>
        <p><a href="/nmo" class="nmo">NMO: Numerical Methods and Optimazation</a></p>
        <p><a href="/video" class="cam">Color Detection Using Camera</a>(Currently unavailable)</p>
        </div>
        <div class="bottomleft">

        <p style="font-size: 1.2em;">Visit: <a href="https://github.com/umeshnandargi" ><i class="fa fa-github" style="font-size:36px;color:beige"></i></a>
            <a href="https://www.linkedin.com/in/umesh-nandargi-0ab37a145/"><i class="fa fa-linkedin" style="font-size:36px;color:beige"></i></a>
            <a href="https://www.instagram.com/umeshnandargi/"><i class="fa fa-instagram" style="font-size:36px; color:beige"></i></a>
        </p>
        </div>
    </div>
        
</body>

</html>
