<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        NMO:Numerical Methods and Integration
    </title>
    <link rel = "stylesheet" href ="{{ url_for('static', filename= 'css/main.css')}}">
</head>
<body>
    <p align = "left"><a href="/"><button class="btn"><i class="fa fa-home"></i> Home</button></a></p>
    <img src="{{url_for('static', filename='myimage.jpeg')}}">
    <br>
        <h1>NMO:Numerical Methods and Integration</h1>
        
        <a href="/gl2p" class = "gl2p">Gauss Quadrature 2 point Formula</a>
        <br><br>
        <a href="/gl3p" class = "gl3p">Gauss Quadrature 3 point Formula</a>
        <br><br>
        <a href="/sim13" class = "sim13">Simpson's 1/3rd Rule</a>
        <br><br>
        <a href="/sim38" class = "sim38">Simpson's 3/8 Rule</a>
        <br><br>
        <a href="/trap" class = "trap">Trapezoidal Rule</a>
        <br><br><br>
    <h3><a href="https://drive.google.com/file/d/1M9Q1wUUlcvXHJMHM2t-i_ZVl-tXb_YWm/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="apk">Click Here</a> To download the apk file</h3>
</body>
</html>