<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>VIDEO</title>
        <link rel = "stylesheet" href ="{{ url_for('static', filename= 'css/main.css')}}">
    </head>
    <body>
        <p align = "left"><a href="/"><button class="btn"><i class="fa fa-home"></i> Home</button></a></p>
        <h1>Color Detection</h1>
        <br>
        <img src="{{url_for('video')}}">
        
    
    
    </body>

</html>